


<IfModule mod_rewrite.c>
RewriteEngine On

#Action markdown /markdown/handler.php
#AddHandler markdown .md

# ---- Handsdown ----

# Pass all requests not referring directly to files in the filesystem to the template
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ template.php?page=$1 [NC,L,QSA]

# Pass directories to template as well
# RewriteCond %{REQUEST_FILENAME} -d
# RewriteRule ^(.*)$ template.php?page=index [NC,L,QSA]


</IfModule>



