


<IfModule mod_rewrite.c>
RewriteEngine On

#Action markdown /markdown/handler.php
#AddHandler markdown .md

# ---- Handsdown ----

# Route certain pages to the "prettify" template.
# RewriteRule ^(codeblocks)$ template-prettify.php?page=$1 [NC,L,QSA]



# Pass all requests not referring directly to files in the filesystem to the engine
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ system/handsdown-engine.php?page=$1 [NC,L,QSA]

# Pass directories to the engine as well
# RewriteCond %{REQUEST_FILENAME} -d
# RewriteRule ^(.*)$ system/handsdown-engine.php?page=index [NC,L,QSA]


</IfModule>



